<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.even.HouseObserver.common.mapper.HouseMapper">
	<select id="selectByKeyword" parameterType="String" resultType="per.even.HouseObserver.common.model.House">
		select * from house where
		house_name=#{keyword} or county=#{keyword}
	</select>
	<delete id="bulkDeleteById">
		delete from house where id in 
		<foreach collection="list" item="item" open="(" separator="," close=")">
		#{item}
		</foreach>
	</delete>
	<select id="selectProvinceAveragePriceByCrawlTime" parameterType="java.lang.Double" resultType="per.even.HouseObserver.common.model.vo.ProvinceAveragePrice">
		select province, AVG(unit_price) as averagePrice
		from house where
		crawl_time &gt; #{beginTime} and crawl_time &lt; #{endTime} 
		group by province
	</select>
	<select id="selectCityAveragePriceByCrawlTime" parameterType="java.lang.Double" resultType="per.even.HouseObserver.common.model.vo.CityAveragePrice">
		select city, AVG(unit_price) as averagePrice
		from house where
		crawl_time &gt; #{beginTime} and crawl_time &lt; #{endTime}
		group by city
	</select>
	<select id="selectCityAveragePriceByType" resultType="java.lang.Double">
		select AVG(unit_price) as averagePrice
		from house where
		crawl_time &gt; #{beginTime} 
		and crawl_time &lt; #{endTime} 
		and city = #{city} 
		and type = #{type}
		group by city
	</select>
	<select id="selectCityByCrawlTime" parameterType="java.lang.Double" resultType="java.lang.String">
		select distinct city
		from house
		where crawl_time &gt; #{beginTime}
		and crawl_time &lt; #{endTime} 
	</select>
	<select id="selectAveragePriceByCityCounty" resultType="per.even.HouseObserver.common.model.vo.CountyAveragePrice">
		select county, AVG(unit_price) as averagePrice
		from house where
		crawl_time &gt; #{beginTime} 
		and crawl_time &lt; #{endTime} 
		and city = #{city}
		group by city, county
		order by averagePrice desc
	</select>
</mapper>